* {
    box-sizing: border-box;
    display: block;
    background-color: rgba(16, 19, 22, 0.824);
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}


h1 {
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    padding: 5%;
}

h2 {
    font-size: 60px;
    padding: 50px;
    background-color: inherit;  
}

h3 {
    font-size: 45px;
    font-style: italic;
    background-color: inherit;
}

/* making navbar independant of header.  will be set to right and responsive */
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
}

nav ul li{
    padding: 10px;
}

/* removing underline from navbar links*/
nav ul li a {
    text-decoration: none;
}

/* Initial bar containing photo and quick description */
.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(10, 40, 40);
    align-items: center;
    padding-right: 30px;
    justify-content: center;
}


#mySelfie{
    margin: 40px;
    width: 300px;
    height: 150x; 
}

.project-list {
    text-align: center;
    padding: 10px;
    margin: 10px;
}