* {
    box-sizing: border-box;
    background-color: slategray;
    margin-top: 100px;
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Times New Roman', Times, serif;
    margin: 100px;
}


h1 {
    font-size: 100px;
    font-weight: 400;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    
}

#mySelfie{
    width: 10%;
    height: 10%;
}