* {
    margin: 25px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
}

h1 {
    font-size: 76px;
    font-weight: 200;
    text-align: center;
}

header {
    display: fixed;
    height: 100px;
    width: 100vw;
    background-color: rgb(70, 125, 197); 
}